body {
    background-color: #EAF6F6;
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    max-width: 100%;
}

h1{
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.0rem;
    color: #00ced1;
}

h2{
    font-family: 'Montserrat', sans-serif;
    margin: 50px 0 auto 0;
    font-size: 2.0rem;
    color: #00ced1;
    font-weight: normal;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: dotted rgb(234, 243, 243) 6px;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.20rem;
}
.profile{
    text-align: center;
    margin: auto;
    width: 50%;
    line-height: 2;
}

.pro{
    text-decoration: underline;
}
.logo{
    border-radius: 50%;
    width: 140px;
    margin: 30px auto auto auto;
}

.code-image{
    border-radius: 50px;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.ndizi{
    border-radius: 50px;
    width: 25%;
    float: right;
    margin-left: 30px;
}
a:hover{
    background-color:#EAF6F6;
}
.top-cloud{
    position: relative;
    left: 100px;
    margin-top: 10px;
}
.mountan{
    width: 50%;
    position: relative;
    right: 100px;
}

.home{
    position: relative;
    margin: 2px 30%;
}


.bottom-cloud{
    position: relative;
    margin: 10PX 150px 150px auto;
}

.top-container {
    background-color: #a6f7f7;
    max-width: 100%;
}


.middle-container{
    margin: 100px auto;
    background-color: #EAF6F6; 
    max-width: 100%;  
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;   
    max-width: 100%;
}

.contact-me{
    margin: auto 20px auto 20px;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

.btn{
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
    
.btn:hover {
    border: solid #99C624 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.copy-write{
    color: #EAF6F6;
    font-size: 0.75rem;
}


